<!-- Include Bootstrap CSS and JavaScript -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcnameslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
<style>
    .side_navbar {
        height: 100vh;
        background: white;
        padding-top: 20px;
        box-shadow: 4px 0px 2px -2px rgba(0, 0, 0, 0.2) !important;
    }

    a {
        text-decoration: none;
        width: 100%;
        /* text-align: center !important; */
        color: black;
    }

    a:hover {
        text-decoration: none;
        color: white;
    }

    .navbar-hover {
        /* text-align: center !important; */
    }

    .navbar-hover:hover {
        background: black;
        color: white !important;
        text-align: center !important;
        text-decoration: none;
    }

    .navbar-hover_active {
        background: black;
        color: white !important;
        text-align: center !important;
        text-decoration: none;
    }

    .items-menu {
        background: black;
        text-align: center;
    }

    .items-menu a {
        color: black;
    }


    .menu-item:hover {
        border-left: 8px solid grey;
        border-right: 8px solid grey;
        background: black;
        text-align: center;
        text-decoration: none;
    }

    .menu_item:active {
        border-left: 8px solid grey;
        border-right: 8px solid grey;
        background: black;
        text-align: center;
        text-decoration: none;
    }

    a:visited {
        border: none;
    }

    .a-hover:hover {
        text-decoration: none;
        color: white;
        border-radius: 0px 0px 10px 10px;
    }
</style>
<div class="col-sm-2 side_navbar">
    <div>
        <a href="" class="btn btn-link navbar-hover"
            style="color : black; text-decoration:none; text-align:justify">Home</a>
        <br>
    </div>
    <div>
        <a href="" class="btn btn-link navbar-hover py-2" id="pooja_toggle" data-toggle="collapse"
            data-target="#pooja_menu" aria-expanded="false" aria-controls="pooja_menu"
            style="color : black; text-decoration:none; text-align:justify">Vazhipadu <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg></i></a>
        <div class="collapse items-menu mx-2" id="pooja_menu" style="border-radius : 0px 0px 10px 10px;">
            <div class="menu-item">
                <a href="/pooja/by_devotee" class="a-hover btn btn-link navbar-hover"
                    style="color : white; text-decoration:none; text-align:justify" >Devotee Name</a>
            </div>
            <div class="menu-item">
                <a href="" class="a-hover btn btn-link navbar-hover"
                    style="color : white; text-decoration:none; text-align:justify">Vazhipadu Name</a>
            </div>
            <div class="menu-item">
                <a href="/pooja/all_records" class="a-hover btn btn-link navbar-hover"
                    style="color : white; text-decoration:none; text-align:justify">All Records</a>
            </div>
        </div>
        <!-- <br> -->
    </div>
    <div>
        <a href="" class="btn btn-link navbar-hover py-2" id="donation_toggle" data-toggle="collapse"
            data-target="#donation_menu" aria-expanded="false" aria-controls="donation_menu"
            style="color : black; text-decoration:none; text-align:justify">Donation <svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                <path
                    d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg></i></a>
        <div class="collapse items-menu mx-2" id="donation_menu" style="border-radius : 0px 0px 10px 10px;">
            <div class="menu-item">
                <a href="" class="a-hover btn btn-link navbar-hover"
                    style="color : white; text-decoration:none; text-align:justify">New Donation</a>
            </div>
            <div class="menu-item">
                <a href="" class="a-hover btn btn-link navbar-hover"
                    style="color : white; text-decoration:none; text-align:justify">All Donations</a>
            </div>
        </div>
        <div>
            <a href="/pooja/all_vazhipadu" class="btn btn-link navbar-hover"
                style="color : black; text-decoration:none; text-align:justify">Vazhipadu Available</a>
            <br>
        </div>
        <div>
        <a href="" class="btn btn-link navbar-hover"
            style="color : black; text-decoration:none; text-align:justify">User Details</a>
        <br>
    </div>
        <!-- <br> -->
    </div>

</div>

<script>
    $(document).ready(function () {
        var pooja_count = 0;
        var donation_count = 0;

        $('#pooja_toggle').click(function () {
            if (pooja_count == 0) {
                $('#pooja_menu').show(); // Hide pooja menu immediately
                $('#pooja_toggle').addClass("navbar-hover_active");
                $('#donation_toggle').removeClass("navbar-hover_active");
                $('#donation_menu').hide(); // Hide donation menu immediately
                // $('#pooja_menu').slideToggle(200); 
                pooja_count = 1;
                donation_count = 0;
            } else {
                $('#pooja_menu').slideUp(200); 
                $('#pooja_toggle').removeClass("navbar-hover_active");
                
                pooja_count = 0;
                //donation_count = 0;

            }
        });

        $('#donation_toggle').click(function () {
            if (donation_count == 0) {
                $('#donation_menu').show(); 
                $('#donation_toggle').addClass("navbar-hover_active");
                $('#pooja_toggle').removeClass("navbar-hover_active");
                $('#pooja_menu').hide(); // Hide pooja menu immediately
                //$('#donation_menu').slideToggle(200);
                donation_count = 1;
                pooja_count = 0;
            } else {
                $('#donation_menu').slideUp(200); 
                $('#donation_toggle').removeClass("navbar-hover_active");
                
                donation_count = 0;
                //pooja_count = 0;

            }
        });
    });
</script>